In [1]:
import pandas as pd
from clean_data import Data

In [2]:
data = Data("data/Unprocessed/Fielding/Fielding_ODI.csv")
data.clean()
df = data.df
df

,Player,Mat,Inns,Dis,Ct,St,Ct Wk,Ct Fi,MD,D/I,Country,Debut Year,Last Match Year
0,KC Sangakkara,404,397,501,402,99,383,19,5 (4ct 1st),1.261,SL,2000,2015
1,AC Gilchrist,287,286,472,417,55,417,0,6 (6ct 0st),1.650,ICC,1996,2008
2,MS Dhoni,350,345,444,321,123,321,0,6 (5ct 1st),1.286,INDIA,2004,2019
3,MV Boucher,295,291,425,403,22,402,1,6 (6ct 0st),1.460,SA,1998,2011
4,Moin Khan,219,217,287,214,73,214,0,5 (5ct 0st),1.322,PAK,1990,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,BC Lara,299,296,120,120,0,0,120,3 (3ct 0st),0.405,WI,1990,2007
46,L Ronchi,85,83,117,105,12,105,0,4 (4ct 0st),1.409,NZ,2008,2017
47,MS Wade,94,94,117,108,9,108,0,5 (5ct 0st),1.244,AUS,2012,2017
48,Inzamam-ul-Haq,378,373,113,113,0,0,113,3 (3ct 0st),0.302,PAK,1991,2007
49,SR Waugh,325,324,111,111,0,0,111,3 (3ct 0st),0.342,AUS,1986,2002

In [4]:
data.clean()

In [5]:
data.clean()
df = data.df
df

,Player,Mat,Inns,Dis,Ct,St,Ct Wk,Ct Fi,MD,D/I,Country,Debut Year,Last Match Year
0,KC Sangakkara,404,397,501,402,99,383,19,5 (4ct 1st),1.261,SL,2000,2015
1,AC Gilchrist,287,286,472,417,55,417,0,6 (6ct 0st),1.650,ICC,1996,2008
2,MS Dhoni,350,345,444,321,123,321,0,6 (5ct 1st),1.286,INDIA,2004,2019
3,MV Boucher,295,291,425,403,22,402,1,6 (6ct 0st),1.460,SA,1998,2011
4,Moin Khan,219,217,287,214,73,214,0,5 (5ct 0st),1.322,PAK,1990,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,BC Lara,299,296,120,120,0,0,120,3 (3ct 0st),0.405,WI,1990,2007
46,L Ronchi,85,83,117,105,12,105,0,4 (4ct 0st),1.409,NZ,2008,2017
47,MS Wade,94,94,117,108,9,108,0,5 (5ct 0st),1.244,AUS,2012,2017
48,Inzamam-ul-Haq,378,373,113,113,0,0,113,3 (3ct 0st),0.302,PAK,1991,2007
49,SR Waugh,325,324,111,111,0,0,111,3 (3ct 0st),0.342,AUS,1986,2002